<template>
    <div>
        <v-card v-if="blog.id">
            <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photo/200/300'" class="white--text" height="200px">
                <v-card-title class="fill-height align-end" v-text="blog.title">
                </v-card-title>
            </v-img>

            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td><v-icon>mdi-format-title</v-icon>Judul</td>
                            <td class="blue--text">{{ blog.title }}</td>
                        </tr>
                        <tr>
                            <td><v-icon>mdi-note</v-icon>Deskripsi</td>
                            <td>
                                {{blog.description}}
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>

            <div v-if="!guest">
                <v-btn v-if="buttonStatus != 'upload'" block color="success" class="mt-2"  >
                    Edit
                </v-btn>

                <div v-if="buttonStatus == 'upload'">
                    <input type="file" name ="photo" ref="photo">
                    <v-btn block color="success" class="mt-2" @click="submitPhoto(blog.id)">UPLOAD</v-btn>
                    <v-btn block color="error" class="mt-2" @click="clear">CANCEL</v-btn>
                </div>

                <v-btn v-if="buttonStatus != 'upload'" block color="success" class="mt-2" @click="uploadPhoto(blog.id)">
                    Upload Photo
                </v-btn>

                <v-btn v-if="buttonStatus != 'upload'" block color="error" class="mt-2" @click="deleteBlog(blog.id)">
                    Delete
                </v-btn>
            </div>

            

        </v-card>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    
    
    data :() => ({
        blog:{},
        apiDomain : 'http://demo-api-vue.sanbercloud.com',
        buttonStatus : ""
    }),
    computed : {
        ...mapGetters({
            token : 'auth/token',
            guest : 'auth/guest'
        }),
    },
    methods:{
        go(){
            let {id} = this.$route.params;
            const config = {
                method : 'get',
                url : `${this.apiDomain}/api/v2/blog/${id}`
            }

            this.axios(config)
                .then(response => {
                    let {blog} = response.data;
                    console.log(blog.photo)
                    this.blog = blog;
                })
                .catch(error =>{
                    console.log(error)
                })
        },

        ...mapActions({
            setAlert : "alert/set"
        }),
        deleteBlog : function(id){
            const config = {
                method : "post",
                url : `${this.apiDomain}/api/v2/blog/${id}`,
                params : {_method : "DELETE"},
                headers : {
                    "Authorization" : "Bearer" + this.token,
                }
            }

            this.axios(config)
                .then((response) =>{
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : "success",
                        text : "Anda berhasil menghapus blog"
                    })
                    window.history.back()
                })
                .catch((error) => {
                    console.log(error)
                    this.setAlert({
                        status : true,
                        color : "error",
                        text : "Anda gagal menghapus blog"
                    })
                })
        },
        submitPhoto : function(id){
            let file = this.$refs.photo.files[0]

            let formData = new FormData()
            formData.append('photo',file)

            let config = {
                method : 'post',
                url : `${this.apiDomain}/api/v2/blog/${id}/upload-photo`,
                data : formData,
                headers : {
                    "Authorization" : "Bearer" + this.token,
                }
            }

            this.axios(config)
                .then((response) =>{
                    console.log(response)
                    this.setAlert({
                        status : true,
                        color : "success",
                        text : "Anda berhasil menambahkan foto"
                    })
                    window.history.back()
                })
                .catch((error) => {
                    console.log(error)
                    this.setAlert({
                        status : true,
                        color : "error",
                        text : "Anda gagal menambahkan foto"
                    })
                })
        },
        uploadPhoto : function(){
            this.buttonStatus = 'upload'
        },
        clear : function(){
            this.buttonStatus = ''
        },
        
        

    },
    created(){
        this.go()
    }
}
</script>